@CHARSET "UTF-8";

.colNavigation{
    vertical-align:top;
    width:20%;
}

.colContent{
	vertical-align:top;
    width:60%;
}

.footer {
	text-align: center;
    width: 100%;
    clear: both;
}

.login {
     position:absolute; 
     top:10%; 
     left:35%; 
     margin:-50px auto auto -100px; 
     text-align:center;
}

.login-info {
     background-color: #ffc;
     border-color: #930;
     font-size: 10px; /* make box not wrap */;
     white-space: nowrap;
     position: relative;
     left: 5px;
}

.logout {
     right:80%
}

.hide {
	display: none;
}